  </main>
  <footer class="bg-primary text-white text-center py-3">
    &copy;<script>document.write(new Date().getFullYear())</script> Бібліотека ЄМ
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
