<%- include('partials/header', { title: 'ЄМ – Бібліотека', isAuthenticated, currentUser }) %>

<header class="bg-light py-5">
  <div class="container text-center">
    <h1 class="display-5 fw-bold mb-4">Читаємо разом!</h1>
    <a href="/books/search" class="btn btn-lg btn-success">
      <i class="fa fa-search me-2"></i>Знайти книгу
    </a>
  </div>
</header>

<section class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Чому саме ЄМ?</h2>
    <ul class="list-group list-group-flush mx-auto" style="max-width:30rem">
      <li class="list-group-item">Лідер серед бібліотек міста за рейтингом</li>
      <li class="list-group-item">Небайдужа адміністрація сайту</li>
      <li class="list-group-item">Швидко, зрозуміло</li>
      <li class="list-group-item">Безліч варіантів</li>
    </ul>
  </div>
</section>

<section class="bg-light py-5">
  <div class="container">
    <div class="row g-4 text-center">
      <div class="col-12 col-md-6">
        <div class="p-4 border rounded h-100">
          <i class="fa fa-sign-in fa-2x mb-3"></i>
          <p class="mb-0">Зареєструйтесь / ввійдіть на наш сайт</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="p-4 border rounded h-100">
          <i class="fa fa-list fa-2x mb-3"></i>
          <p class="mb-0">Оберіть книгу</p>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
