<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ЄМ</title>
    <style>
    </style>
</head>
<body>
<div class="main-and-menu">
    <div class="navbar">
        <div class="logo">
            <i class="fa fa-book"></i>
            <a href="/">Бібліотека ЄМ</a>
        </div>
        <div class="signin-btn">
            <% if (isAuthenticated) { %>
                <a href="/profile">Вітаємо, <%= currentUser.username %>!</a>
                <a href="/logout">Вийти</a>
            <% } else { %>
                <a href="/login">Увійти</a> | <a href="/register">Реєстрація</a>
            <% } %>
        </div>
    </div>

    <br><br><br>

    <div class="plain-text">
        <h1>Читаємо разом!</h1>
        <br><br>
        <div class="buttons">
            <a href="/books/search">
                <div class="find"><i class="fa fa-search"></i> Знайти книгу</div>
            </a>
        </div>
    </div>
</div>
<div class="why-to-use">
    <br><br>
    <h1>Чому саме ЄМ?</h1>
    <div class="container">
        <ul class="custom-list">
            <li>Лідер серед бібліотек міста за рейтингом</li>
            <li>Небайдужа адміністрація сайту</li>
            <li>Швидко, зрозуміло</li>
            <li>Безліч варіантів</li>
        </ul>
    </div>

</div>
<div class="icons">
    <div class="row">
        <div class="box">
            <i class="fa fa-sign-in"></i>
            <span>Зареєструйтесь / ввійдіть на наш сайт</span>
        </div>
        <div class="box">
            <i class="fa fa-list"></i>
            <span>Оберіть книгу</span>
        </div>
    </div>
</div>
<div class="footer"></div>
</body>
</html>
